.welcome-text{
  position: absolute;
  z-index: 100;
  top: 38%;
  left: 48%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.about-us{
  color: transparent;
  -webkit-text-stroke: 1px rgba(248, 244, 244, 0.932);
  /* font-family: poppins; */
  font-size: 55px;
  font-weight: bolder;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
} 
form{
   padding-top: 40px;
   margin:auto;
   margin-bottom: 15px;
   max-width:300px;
}
form.form input[type=text] {
  padding: 10px;
  margin-bottom: 25px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
}

form.form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;
}

form.form button:hover {
  background: #0b7dda;
}

.box1{
  position: relative;

}
.image{
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.box1:hover .image {
  opacity: 0.3;
}

.box1:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 35px;
  font-weight: bolder;
  padding: 16px 0px;
}

.box1 img{
  width: 90%;
  height: 100%;
}
.img3{
    width: 85%;
}
.div-p{
   width: 100%;
} 
div p{
  width: 100%;
  font-size: 20px;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-family: Arial;
}

.aboutUs{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding-top: 35px;
}
em{
  text-align: center;
  font-family: monospace;
  color: rgb(0, 126, 209);
}
.paragraph{
  padding-top: 15px;
  line-height: 40px;
  width: 95%;
  padding-bottom: 20px;
}
.story{
  display: flex;
  width: 100%;
}
.big{
  width: 40%;
  height: 25em;
  margin-bottom: 40px ;
}
#text{
  margin-top: 150px;
  font-size: 25px;
  margin-left: 90px;
  float: left;
  line-height: 40px;
}
.last-img{
  border-radius: 40px;
  margin-left: 30px;
}
@media (min-width: 100px) and (max-width:850px){
  .logo {
    margin-left: 1.3em;
    margin-top: 1.3em;
}
.logo img{
    width: 190px;
    height: 105px;
}
.nav2{
  margin-top: 160px;
}
  .welcome-text{
  z-index: 50;
  left: 50%;
}
.about-us{
  font-size: 35px;
} 
.box1{
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
}
.story{
  display: block;
  width: 100%;
  margin-bottom: 200px;
}
.big{
  margin-bottom: -70px ;
}
#text{
  margin-top: 0;
}
.last-img{
  width: 450px;
}
}